.topic {
    min-width: fit-content;
}

.pdfimg img {
    width: 10px;
    height: 10px;
    margin: 10px;
}

.topic small {
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: rgb(224, 217, 217);
    width: fit-content;
    padding: 0px 5px;
    margin: 3px;
    border-radius: 10px;
}