.Appcontaner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap:5vh;
}
@media only screen and (max-width: 768px) {
    .Appcontaner{
        grid-template-columns:1fr;
        

    }
  }